<div id="comic_header">
    <div id="comic_cover"></div>
    <div id="comic_data">
        <div class="property" id="comic_title">
            <div class="name">Title</div>
            <div class="values">
                <div id="comic_title_input_cover"><input id="comic_title_input" placeholder="Infinity War (2018)" class="form-control"></div>
            </div>
            <br style="clear:both;"/>
        </div>
        <div class="property">
            <div class="name">Tags</div>
            <div class="values">
                <span class="comic_tag"><a class="comic_tag_name" href="">English</a><a class="comic_tag_remove" href="">x</a></span>
                <span class="comic_tag"><a class="comic_tag_name" href="">Mavel</a><a class="comic_tag_remove" href="">x</a></span>
                <span class="comic_tag"><a class="comic_tag_name" href="">Superhero</a><a class="comic_tag_remove" href="">x</a></span>
                <a class="comic_tag_add" href="">+</a>
            </div>
            <br style="clear:both;"/>
        </div>
        <a href="" id="comic_tags_add">...</a>
    </div>
</div>
<div id="comic_toolbar">
    <a class="comic_toolbar_control" id="control_thumb_editor" href="">Edit</a>
    <div id="comic_toolbar_view">
        <a class="comic_toolbar_control" id="control_list_view" href="">List</a>
        <a class="comic_toolbar_control" id="control_grid_view" href="">Grid</a>
    </div>
</div>
<div id="comic_viewer" (dragenter)="onDragEnter($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
    <!--span class="comic_drag_hint">Drag files here to upload</span-->
    <div class="comic_item" id="comic_item_01"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">01</a></div>
    <div class="comic_item" id="comic_item_02"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">02</a></div>
    <div class="comic_item" id="comic_item_03"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">03</a></div>
    <div class="comic_item" id="comic_item_04"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">04</a></div>
    <div class="comic_item" id="comic_item_05"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">05</a></div>
    <div class="comic_item" id="comic_item_06"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">06</a></div>
    <div class="comic_item" id="comic_item_07"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">07</a></div>
    <div class="comic_item" id="comic_item_08"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">08</a></div>
    <div class="comic_item" id="comic_item_09"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">09</a></div>
    <div class="comic_item" id="comic_item_10"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">10</a></div>
    <div class="comic_item" id="comic_item_11"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">11</a></div>
    <div class="comic_item" id="comic_item_12"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">12</a></div>
    <div class="comic_item" id="comic_item_13"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">13</a></div>
    <div class="comic_item" id="comic_item_14"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">14</a></div>
    <div class="comic_item" id="comic_item_15"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">15</a></div>
    <div class="comic_item" id="comic_item_16"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">16</a></div>
    <div class="comic_item" id="comic_item_17"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">17</a></div>
    <div class="comic_item" id="comic_item_18"><div class="comic_item_thumb"></div><a class="comic_item_name" href="">18</a></div>
    <span class="comic_drag_hint">Drag files here to upload</span>
</div>